body{margin-bottom: 300px;}
header {display: flex; flex-flow:row nowrap;height: 100px; position: relative;padding:0 100px 0 30px;}
header h1 {}
header h1 a {}
header h1 a img {width:250px;position: relative; top:-10px;}
header nav {display:flex; flex-flow:row nowrap;}
header nav p {line-height: 100px;}
header nav p a {margin:0 50px 0;font-size: 1.2rem; font-weight: 600;}
header .user_menu {line-height: 100px;position: absolute; right: 30px;}
header .user_menu * {margin-left: 10px;}
header .user_menu #lang {border-radius: 30px; border-color: gray; margin-left: none;color: gray;}
header .user_menu a i{font-weight: 600; font-size: 1.4rem;}
main .banner {position: relative; z-index: 999;}
main .box {display: flex; flex-flow: row nowrap; justify-content: center; margin: 80px 0;}
main .box a {margin-left: 30px;border:1px solid #eee;padding:30px 130px; border-radius: 20px;/* box-shadow:1px 1px 10px #eee */ ;}
main .box a:hover {box-shadow: 0 2px 5px #eee;}
main .box a:first-child {margin:0;}
main .container {padding:0 100px;margin-top: 40px;}
main .container > h2 {font-size:1.8rem; font-weight: 600;margin:0 0 40px 40px;}
main .container .contents {display: flex; width: 1400px; margin: 0px auto 100px;}
main .container .contents li {width: 25%;display: flex; flex-flow:column wrap;margin-right: 30px;}
main .container .contents li a:hover { box-shadow:1px 1px 10px #333;}
main .container .contents li a {
    background: aqua;
    height: 215px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 20px;}
main .container .contents li h2 {font-size:1.2rem; font-weight: 500;}
main .container .contents li p {line-height: 1.3rem; font-size: 0.8rem;}
main .container .contents li p span {line-height: 3.3rem;margin-right:50px;}
main .container .contents li p span:nth-child(1) {color:orange}
main .container .contents li p span:nth-child(2) {color:#da1931}
main .container .contents li a img {width:100%;}
main .discount {width: 100%; height:460px;background: #eee;margin-top: 150px;}
main .discount h2 {font-size: 2rem; text-align: center;padding-top: 70px; font-weight: 600;}
main .discount .box li {background: #fff;width: 300px;height: 180px;margin-right: 40px;border-radius: 20px;}
main .discount .box li p {text-align: center;font-size: 1.5rem;font-weight: 700; margin-top: 45px;}
main .discount .box li p span {text-align: center;font-size: 3rem;font-weight: 700;color:#da1931;line-height: 1.5;}





